#chart #sequence {
  width: 100%;
  height: 45px;
}
#chart #legend {
  padding: 24px 0 0 0;
}

#chart .white{
 color: black;
 fill:white;
}

#chart .key{
  height: 100%;
  width: 116.5px;
  padding: 4px 1px;
  border-radius: 3px;
  text-align: center;
  color: black;
  font-size: 13px;
  margin: 2px;
}

#chart #sequence text, #chart #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  margin: auto;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
#chart > svg {
  margin: auto;
  position: absolute;
}

#chart .cirusAttribute{
    font-weight:600;
    float: none;
    position: absolute;
	text-align: center;
    color: #666;
    z-index: 0;
}

#chart #explanation1 {
    top: 59%;
    left: 37%;
    width: 26%;
}

#attackDesc{
    top: 62.5%;
    left: 39%;
    width: 22%;
}

#defenseDesc{
	top: 65%;
    left: 39%;
    width: 22%;
}

#staminaDesc{
    top: 67.5%;
    left: 39%;
    width: 22%;
 }

.pokeImg {
    top: 33%;
    left: 37%;
    width: 30%;
   	max-width: 26%;
    max-height: 26%;
	min-width: 26%;
    min-height: 26%;
}

#chart #percentage {
  font-size: 2.5em;   /* */
}

#chart #percentage2 {
  font-size: 2.5em;   /* */
}

.col-centered {
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}
.float-left {
	float : left;
}

.float-right {
	float : right;
}

#chart_defense > .highcharts-container > svg > .highcharts-xaxis-labels > text {
	display: none;
}

#chart_all_Strength rect {
	stroke : white;
} 

text.highcharts-subtitle {
	color:#333 !important;
	fill:#333 !important;
}

.captionStyle{
	fill: rgb(136, 136, 136);
    font-family: "Open Sans";
    font-size: 16px;
    opacity: 1;
    text-anchor: middle;
    font-weight: bold;
    color: rgb(136, 136, 136) !important;
	padding-left: 500px;
	display:inline-block;
}

.titleAtt{
    width: 30%;
    border-bottom: 4px solid;
    align-content: center;
    margin-left: 38%;
    border-color: rgb(255, 146, 58);
	padding-top:10px;
}



@media (max-width: 350px){
#chart #explanation1{
	font-size:10px;!important;
}
}

@media (min-width: 991px) and (max-width:1100px){
.margin {
  margin: 35% 25% !important;
}
}
@media (min-width: 875px) and (max-width:991px){
.margin {
  margin: 40% 38% !important;
  font-size:16px;
}
}
@media (min-width: 524px) and (max-width:624px){
.margin {
  margin: 35% 25% !important;
}
}
@media (max-width: 550px){
.margin {
  margin: 35% 25% !important;
  font-size:11px;
}
}