.legend {
    font-size: 12px;
  }
.rect {
    stroke-width: 2;
  }
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
.node {
  cursor: pointer;
}
.node circle {
	fill-opacity: 0.75;
}
.node circle:hover {
  /*stroke: #bfbfbf;
  stroke-width: 1px;*/
  fill-opacity: 0.5;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
}

.text-shadow {
	text-shadow: black 0.1em 0.1em 0.2em !important;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.svg-container {
    position: relative;
	overflow: hidden;
    width: 100%;
	height: 100%;
	margin: auto !important;
	padding-bottom: 0%;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}