.dashboard-layout {
	padding: 0px !important;
}

@media (min-width: 992px) {
	.dashboard-layout {
		padding: 0px !important;
	}
}
@media (max-width: 767px) {
	.dashboard-layout {
		padding: 0px !important;
	}
}
@media (max-width: 991px) {
	.dashboard-layout {
		padding: 0px !important;
	}
}

/* Date Range Picker */
.ranges ul {
    overflow-y: auto;
    max-height: 237.5px;
}

.daterangepicker .ranges .btn {
    width: 48.5%;
	margin-top: 9.5px !important;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

/* Select2 */
select2-selection--multiple:before {
	content: "\f141";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	font-size: small;
    text-decoration: inherit;
	color:#888;
	
	display: block;
	position: absolute;
	height: 0;
	right: 17px;
	margin-left: -4px;
	margin-top: -2px;
	top: 31%;
	width: 0;
	cursor: pointer;
}

span.checkList .select2-results__option[aria-selected=true]:before{
	content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-size: small;
    text-decoration: inherit;
    color: rgb(0, 0, 0);
    display: block;
    position: relative;
    height: 0;
    margin-left: 96%;
    width: 0;
}
span.checkList .select2-results__option[aria-selected=true]{
	padding-right: 13px;
}
.logo-default{
  position: absolute;


  margin-top: 16px !important;
 
}
.page-logo{
position: relative;
}
/* Sankey Chart */
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.applied-filters {
	position: fixed;
    bottom: 0;
    top: auto;
    right: 0;
    left: 0;
    _position: absolute;
    _top: expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);
    background-color: rgba(136, 167, 172,.4);
    padding: 1px 2px 0px 2px;
    z-index: 100;
    color: #292E3C;
    display: table;
    width: 100%;
    line-height: 1.5em;
    text-align: center;
}
.filter-item {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
}

.filter-item > span > span {
    padding-left: 1px;
    display: inline-block;
	padding-right: 1px;
}

/* layout.css override */
.page-header.navbar .page-logo {
	background: #FFFFFF !important;
}

.page-header.navbar .menu-toggler {
    background-image: url(assets/layouts/layout2/img/sidebar_toggler_icon_darkblue.png) !important; /* using darker icon for toggler (dbseer)*/
} 

@media (max-width: 767px){
	.page-header.navbar {
		background: #FFFFFF !important;
		height: 68px !important;
	}
	
	.page-header.navbar .menu-toggler.responsive-toggler {
    	background-image: url(assets/layouts/layout2/img/sidebar_toggler_icon_darkblue.png) !important;
	}
	
	.page-header.navbar .page-top {
		display: none;
	}
}

.page-footer-inner p {
	margin : 0;
}

.page-title{
	text-align : left;
}
.page-title b {
	font-weight : normal !important;
}

.portlet > .portlet-title > .actions > .btn-group > .btn, .portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm {
    min-width: 70px;
}

.page-top h1 {
	padding: 15px !important;
	margin-top: 0;
    margin-bottom: 0;
	text-align : left;
}

.rdPopupPanelTitle {
    padding-bottom: 0;
    text-align: center;
}

/*** KPIs ***/
.visual-cusTile-div{
    padding-top: 35px;
    margin-bottom: 40px;
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}

.visual-cusTile-i{
    color: #fff;
    opacity: .1;
    margin-left: -180px;
    font-size: 110px;
    line-height: 110px;
    margin-top: 80px;

}

.dashboard-stat2{
	padding: 15px 15px 20px 15px;
}
.dashboard-stat2 .display {
    margin-bottom: 5px;
}

/*** Schedule Manager ***/
.action{
	color:#666666;
}
.action:hover{
	color:#066CB0 /*LinkHoverColor*/
}

.tag-danger {
    background-color: #d9534f;
}
.tag-success {
    background-color: #5cb85c;
}
.tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.fieldset {
	border: 1px solid #cccccc !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

.fieldset input, .fieldset select, .fieldset label {
	margin: 5px !important;
}

.fieldset-legend {
	font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
	margin-bottom: .5rem;
}
.schd-Input-text {
	/*margin-left : 10px !important;*/
	width : 225px;
}

.schedule-container{
	padding: 10px 10px 0 10px;
}
caption {
	caption-side : top;
}
.no-raduis, select#selSchInterval_TaskSchedule, [class^='select2'] {
	border-radius: 0px !important;
}
.badge a {
	color : #989898;
}
.badge a:hover {
	color : #ffffff;
}

#divSaveDeletebtn .btn {
	margin: 0px 0px 10px 10px !important;
}