#legendTooltip {
        color: white;
        background:rgba(0,0,0,0.8);
        padding: 5px;
        border: none;
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        visibility: hidden;
        white-space: nowrap;
        pointer-events: none;
      }
	  
#sidebar {
  float: right;
  padding:0px 40px !Important;
}

#sequence {
  width: 100%;
  height: 45px;
}
#legend {
  padding: 0px;
}

.list-inline{
  padding: 2px 0px;
  margin: 0;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
  padding-right: 0; 
  padding-left: 0; 
}
.white{
 color: White;
 fill:white;
 /*text-shadow: black 0.1em 0.1em 0.2em;*/
}
.key{
  height: 100%;
  width: 116.5px;
  padding: 4px 1px;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-size: 13px;
  margin: 2px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  margin: auto;
  position: relative;
  top: 10px;
  width: 61.87%;
  height: 0;
  padding-bottom: 61.87%;
}
#chart > svg {
  margin: auto;
  position: absolute;
}

#chart path {
  stroke: #fff;
}

.margin{
	margin: 33.5% 44%;
}
@media (min-width: 991px) and (max-width: 1100px){
	.margin {
		margin: 35% 42% !important;
	}
}
@media (min-width: 875px) and (max-width: 991px){
	.margin {
		margin: 33% 42% !important;
		font-size:16px;
	}
}
@media (min-width: 624px) and (max-width: 875px){
	.margin {
		margin: 36% 39% !important;
		font-size:13px;
	}
}
@media (min-width: 524px) and (max-width: 624px){
	.margin {
		margin: 37% 38% !important;
		font-size:12px;
	}
}
@media (max-width: 550px){
	.margin {
		margin: 42% 40% !important;
		font-size:10px;
		width: 100px !important;
	}
}
@media (max-width: 450px){
	.margin {
		margin: 50% 39% !important;
    	font-size: 8px ;
		width: 70px !important;
	}
}

#explanation {
  float:none;
  position: absolute;
  /*top: 0;*/
  margin-top: 23%;
  left: 0;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: 0;
  /*font-size: 12px;*/
}

#percentage {
  font-size: 2.5em;
}

.col-centered {
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}