.dateRangePickerMargin
{
    margin-bottom: 4px !important;
	margin-left: -15px !important;
	width: 105% !important;
}

.kpiFonts{
	font-size: 25px !important;
}

.rdThemeInput{
	height: 34px !important;
}

.topXPosition{
	margin-top: -8px !important;
}

.KPIFilter{
	margin-bottom: 14px !important;
}

.engine{
	margin-left: 13px !important;
}

.p-2{
	padding: 0.5em
}

.white-text{
	color: #fff;
}

.pl-1{
	padding-left: 0.5em;
}