<!-- BEGIN JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="_SupportFiles/assets/global/plugins/respond.min.js"></script>
<script src="_SupportFiles/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->

<script src="_SupportFiles/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="_SupportFiles/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="_SupportFiles/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="_SupportFiles/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="_SupportFiles/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="_SupportFiles/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
<!-- END PAGE LEVEL PLUGINS -->

 <!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="_SupportFiles/assets/global/scripts/app.min.js" type="text/javascript"></script>
 <!-- END THEME GLOBAL SCRIPTS -->
 
 <!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="_SupportFiles/assets/layouts/layout2/scripts/layout.js" type="text/javascript"></script>
<script src="_SupportFiles/assets/layouts/layout2/scripts/demo.js" type="text/javascript"></script>
<script src="_SupportFiles/assets/layouts/global/scripts/quick-sidebar.min.js"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script src="_SupportFiles/JS.Helpers.ResizeSensor.js"></script>
<script src="_SupportFiles/JS.Helpers.Report.js"></script>